In [2]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
os.chdir("C:\\Users\\Dinesh\\Desktop\\DataSets")

In [4]:
data=pd.read_csv("dataset.csv")

In [5]:
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [6]:
data.isna().sum()

User_ID                        0
Product_ID                     0
Gender                         0
Age                            0
Occupation                     0
City_Category                  0
Stay_In_Current_City_Years     0
Marital_Status                 0
Product_Category_1             0
Product_Category_2            23
Product_Category_3            61
Purchase                       0
dtype: int64

In [7]:
data['Age'].value_counts()

26-35    30
36-45    22
18-25    17
0-17     16
51-55     7
46-50     6
55+       1
Name: Age, dtype: int64

In [8]:
data['Age'].replace(['26-35','36-45','18-25','0-17','51-55','46-50','55+'],[1,2,3,4,5,6,7],inplace=True)

In [9]:
data['Gender'].replace(['F','M'],[0,1],inplace=True)

In [10]:
data=data.drop(columns=['User_ID','Product_ID'])

In [11]:
data['City_Category'].value_counts()

B    38
A    36
C    25
Name: City_Category, dtype: int64

In [12]:
data['City_Category'].replace(['A','B','C'],[1,2,3],inplace=True)

In [13]:
data['Stay_In_Current_City_Years'].replace('4+','4',inplace=True)

In [14]:
from sklearn.preprocessing import Imputer

In [15]:
imputer = Imputer(missing_values='NaN',strategy='mean',axis=0)

In [16]:
data.isna().sum()

Gender                         0
Age                            0
Occupation                     0
City_Category                  0
Stay_In_Current_City_Years     0
Marital_Status                 0
Product_Category_1             0
Product_Category_2            23
Product_Category_3            61
Purchase                       0
dtype: int64

In [17]:
features=data.iloc[:,:-1].values

In [18]:
labels=data.iloc[:,-1].values

In [19]:
imputer.fit(features[:,:])
features[:,[7,8]]=imputer.fit_transform(features[:,[7,8]])

In [20]:
df1=pd.DataFrame(features)

In [21]:
data['Product_Category_2']=df1[7]

In [22]:
data['Product_Category_3']=df1[8]

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x=data.iloc[:,:-1]

In [25]:
y=data.iloc[:,-1]

In [38]:
x=data['Age']
y=data['Purchase']

In [39]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [ ]:
X_train=X_train.values.reshape(-1,1)

In [40]:
from sklearn import linear_model

In [41]:
reg=linear_model.LinearRegression()

In [42]:
reg.fit(X_train,y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[4 2 1 2 1 2 4 1 2 3 2 6 3 3 2 2 2 1 2 4 4 5 5 3 2 4 1 3 2 6 1 7 1 1 1 4 4
 3 2 2 5 2 1 1 4 6 1 4 4 1 1 1 1 6 4 1 5 3 5 2 1 1 2 1 1 1 6 3 3 4 5 1 3 1
 3 1 3 1 2].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [37]:
reg.score(X_test,y_test)

-0.008252448040797944